# PayMongo API Credentials
PAYMONGO_SECRET_KEY= sk_live_GHkWQ3Miw6Acto6b7Dwtnz1b
PAYMONGO_WALLET_ID= wallet_58629498799e04c7bbc04c62
PAYMONGO_WALLET_ACCOUNT_NUMBER= 09267244732
PAYMONGO_ACCOUNT_NAME= resterjames RABE lapasaran
